<!-- wp:group {"className":"wpds-app-shell is-style-wpds-appearance-system","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch"}} -->
<div class="wp-block-group wpds-app-shell is-style-wpds-appearance-system"><!-- wp:template-part {"slug":"app-sidebar"} /-->

<!-- wp:group {"tagName":"main","className":"wpds-app-shell__main","style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group wpds-app-shell__main" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:template-part {"slug":"admin-header"} /-->

<!-- wp:group {"className":"wpds-admin-page__content","layout":{"type":"default"}} -->
<div class="wp-block-group wpds-admin-page__content"><!-- wp:post-content {"layout":{"type":"default"}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"assistant"} /--></div>
<!-- /wp:group -->
